@font-face {
    font-family: "MarianneTitle";
    src: url("fonts/Marianne-ExtraBold.otf");
}

@font-face {
    font-family: "MarianneMedium";
    src: url("fonts/Marianne-Medium.otf");
}

html {
    background: linear-gradient(90deg, rgba(0, 38, 84, 1) 0%, rgba(237, 41, 57, 1) 100%);
    scroll-behavior: smooth;
}

.title {
    font-family: "MarianneTitle" !important;
}

.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#nav-text {
    margin-left: 10px;
    margin-top: 12px;
    font-size: 20px;
}

#nav-flag {
    height: 14px;
    margin-top: 18px;
    margin-left: 10px;
}

.div-candidat {
    height: 200px;
    width: 100%;
    padding: 10px;
}

.photo-candidat {
    height: 180px;
    float: left;
}

.photo-candidat-mobile {
    height: 180px;
    display: block;
    margin: auto;
}

.nom-candidat-mobile {
    text-align: center;
    font-size: 2em !important;
}

.nom-candidat {
    font-family: "MarianneTitle";
    font-size: 3em;
    color: white;
}

.parti {
    font-family: "MarianneTitle";
    font-size: 1em;
    color: #eb243f;
    text-align: left;
    padding-left: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: middle;
}

.parti-icone {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    float: left;
    border-radius: 20%;
}

.rn {
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 5px;
}

.parti-div {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.2s;
    display: table;
}

.parti-div:hover {
    transform: scale(1.1);
}

.programme {
    font-family: "MarianneTitle";
    font-size: 1em;
    color: black;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: middle;
}

.programme-div {
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.2s;
    display: table;
    font-family: "MarianneMedium";
}

.programme-div:hover {
    transform: scale(1.1);
}

.center-link {
    margin-left: auto;
    margin-right: auto;
}

.img {
    box-shadow: none;
}

.retour {
    float: right;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.autre-candidat {
    float: left;
    padding: 3px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.autre-candidat-img {
    width: 200%;
}

.is-hidden-desktop .mesure-titre {
    font-size: 12px !important;
}

.nom-candidat{
    font-size: 30px !important;
}

.column-lepen{
    margin-right: 20px;
}

.column-macron{
    margin-left: 20px;
}

.mobile-names{
    font-size: 25px;
}

.candidat-cat{
    margin-top: -40px;
}

.desktop-candidat{
    font-size: 25px;
}